# Node & dependencies
node_modules/
server/node_modules/

# Env & secrets
.env
.env.*
server/.env

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Coverage & reports
coverage/
.report/
reports/

# Build outputs
build/
dist/
.temp/
.tmp/
.cache/

# OS/editor files
.DS_Store
Thumbs.db
.idea/
.vscode/

# Uploads/static
public/uploads/
server/public/uploads/
/uploads/

# Misc
*.local
**/.vercel/**
**/.next/**
